body,html{
font-family: Arial, Helvetica, sans-serif;
height: 100%;
width: 100vw;
display: flex;
justify-content: center;
align-items: center;
background-image: url('/imagenes/fondo.jpg');
background-size: cover;

}
.contenedor{
text-align: center;
padding: 20px;
background-color: rgb(214, 204, 204);
border-radius: 10px;
box-shadow: 0 4px 8px  rgba(0, 0, 0, 0.1);
}
.boton-redireccion{
background-color: rgb(25, 0, 255);
color: aliceblue;
padding: 10px 20px;
display: inline-block;
margin-top: 5px;
text-decoration: none;
border-radius: 5px;
transition: all 0.3s ease; 
transform: scale(1);

}
.boton-redireccion:hover{
background-color: beige;
color: black;

}